* {
    margin: 0;
    padding: 0;
}
.welcome {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(4, 9, 30, 0.7)), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
